.done {
    text-decoration: line-through;
    color: rgb(120, 120, 120);
}

@font-face {
  font-family: Itim;
  src: url(/static/Itim-Regular.ttf);
}

* {
    font-family: Itim, sans-serif;
}

.page-wrapper {
    margin: auto;
    display: grid;
}

.content {
    width: 500px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 30px;
}

.box {
    min-width: 200px;
    max-width: 500px;
    padding: 2px;
    margin: 0 auto;
}

#list {
    text-indent: 0;
    margin: 30px 0 0;
    padding: 0;
    display: grid;
    grid-gap: 10px;
    list-style-type: none;
}

.todo-list {
    list-style: none;
    font-size: 20px;
    text-align: center;
    border: rgb(150, 150, 150) solid 1px;
}

.todo-list.editable {
    border: dashed;
}

li.todo-list {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

li.todo-list > div.box {
    width: 70%;
}

.note-text {
    padding: 3px;
    vertical-align: center;
}

.todo-list:hover {
    background: rgb(230, 230, 230);
    border: 1px solid rgb(230, 230, 230);
    transition: 0.7s;
}

.todo-list-active {
   background: white;
}

.todo-list-active:hover {
   background: rgb(150, 150, 150);
   cursor: pointer;
   border: 1px solid rgb(150, 150, 150);
   transition: 0.7s;
}

.todo-add-new-item-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    grid-auto-flow: column;
    grid-gap: 10px;
}

.todo-add-new-item-container > label {
    width: 100%;
}

.todo-buttons {
    align-self: end;
}

.todo-item-new-text {
    position: relative;
    height: 26px;
    width: 100%;
    font-size: 20px;
    border: gray dashed;
    vertical-align: middle
}

.todo-item-edit {
    position: relative;
    height: 28px;
    width: 100%;
    font-size: 20px;
    vertical-align: middle;
    border: none;
}

.todo-item-edit:focus {
  border: green dashed;
}

.todo-item-button {
    width: 32px;
    height: 32px;
    padding: 5px;
    background: rgb(200, 200, 200);
    border: none;
    cursor: pointer;
}

.todo-item-button:hover {
    background: white;
    transition: 0.7s;
}

.todo-item-icon {
    display: flex;
    width: 22px;
    height: 22px;
}

.undone-list-item {
    cursor: pointer;
}

.item-not-found {
    position: fixed;
    top: 250px;
    left: 30px;
    background: rgb(200, 200, 200);
}
