{% extends "todo-base.html" %}
{% block list %}
<div class="box">
    <form
        hx-trigger="click from:button[id='add-new']"
        hx-post="/item/"
        hx-target="#list"
        hx-swap="beforeend"
        hx-indicator=".my-indicator"
        hx-on::after-request="this.reset()"
        class="todo-add-new-item-container"
    >
        <label>
            <input type="text" name="text" class="todo-item-new-text">
        </label>
        <button id="add-new" class="todo-item-button">
            <img class="todo-item-icon" src="/static/icons/plus.svg" alt="Add new todo item icon">
        </button>
    </form>
</div>
{% include "todo-list.html" %}
{% endblock %}
